@font-face {
    font-family: 'September Script';
    src: url('../../public/assets/fonts/SeptemberScriptRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Morganite';
    src: url('../../public/assets/fonts/Morganite/Morganite-Medium.woff2') format('woff2'),
        url('../../public/assets/fonts/Morganite/Morganite-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Morganite';
    src: url('../../public/assets/fonts/Morganite/Morganite-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Morganite/Morganite-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Celebes';
    src: url('../../public/assets/fonts/Celebes/Celebes-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/Celebes/Celebes-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Celebes';
    src: url('../../public/assets/fonts/Celebes/Celebes-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/Celebes/Celebes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.testimonials {
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #163E6D 25%, #ffb326 100%);
}

.controls {
    bottom: 5rem;
}

.controls div {
    padding: 0.75rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 10rem;
    transition: background-color 1s;
}

.controls div.active {
    background-color: #287EB6;
}

.controls img {
    width: 10rem;
}

/* center the blockquote in the page */
.blockquote-wrapper {
    display: flex;
    height: fit-content;
    padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    font-family: 'Celebes', sans-serif;
    font-weight: 800;
    color: #ffffff;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 40px auto 80px;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
    position: relative;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 1);
    font-size: 10rem;
    line-height: 0;
    bottom: -43px;
    right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote h1 {
        font-size: 41px;
    }
}

@media screen and (max-width: 1280px) {
    .controls {
        bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .testimonials {
        min-height: 42rem;
    }

    .blockquote {
        max-width: 60%;
    }

    .controls {
        bottom: 2rem;
    }
}

/* Blockquote subheader */
.blockquote h4 {
    position: relative;
    color: #292a2b;
    font-size: 1.4rem;
    font-weight: normal;
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    margin: 0;
    padding-top: 20px;
    z-index: 1;
    background:linear-gradient(45deg,#27d853,#35c9ff  );
    -webkit-text-fill-color:transparent;
    background-clip: text;
    -webkit-background-clip:text;
}